@charset "UTF-8";

@font-face {
  font-family: 'icomoon';
  src: url("./luxe/fonts/icomoon/icomoon.eot?srf3rx");
  src: url("./luxe/fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("./luxe/fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("./luxe/fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("./luxe/fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'themify';
  src: url("./luxe/fonts/themify/themify.eot?-fvbane");
  src: url("./luxe/fonts/themify/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("./luxe/fonts/themify/themify.woff?-fvbane") format("woff"), url("./luxe/fonts/themify/themify.ttf?-fvbane") format("truetype"), url("./luxe/fonts/themify/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Boostrap section */

@import "bootstrap.css";

/* End of Bootstrap section */


/* =======================================================
*
*   Template Style 
*   Edit this section
*
* ======================================================= */
body {
  font-family: "Open Sans", Arial, serif;
  line-height: 1.8;
  font-size: 16px;
  background: #252a37;
  color: #848484;
  font-weight: 300;
  overflow-x: hidden;
}

body.fh5co-offcanvas {
  overflow: hidden;
}

a {
  color: #FF5722;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover {
  text-decoration: none !important;
  color: #FF5722 !important;
}

p,
ul,
ol {
  margin-bottom: 1.5em;
  font-size: 18px;
  color: #848484;
  font-weight: 300;
  font-family: "Open Sans", Arial, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  margin: 0 0 30px 0;
}

figure {
  margin-bottom: 2em;
}

::-webkit-selection {
  color: #fcfcfc;
  background: #FF5722;
}

::-moz-selection {
  color: #fcfcfc;
  background: #FF5722;
}

::selection {
  color: #fcfcfc;
  background: #FF5722;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Open Sans", Arial, serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn.btn-md {
  padding: 10px 20px !important;
}

.btn.btn-lg,
.btn-group-lg>.btn {
  padding: 18px 36px !important;
}

.btn:hover,
.btn:active,
.btn:focus {
  box-shadow: none !important;
  outline: none !important;
  color: #fff !important;
}

.btn-primary {
  background: #FF5722;
  color: #fff;
  border: 2px solid #FF5722;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #3c4146 !important;
  border-color: #3c4146 !important;
}

.btn-primary.btn-outline {
  background: transparent;
  color: #FF5722;
  border: 2px solid #FF5722;
}

.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
  background: #FF5722;
  color: #fff !important;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}

.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}

.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}

.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}

.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}

.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}

.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}

.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}

.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn.with-arrow:hover {
  padding-right: 50px;
}

.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.btn-luxe-primary {
  background: #3c4146;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: transparent;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-luxe-primary i {
  position: absolute;
  top: 50%;
  font-size: 16px;
  right: -20px;
  margin-top: -8px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-luxe-primary:hover {
  background: #191b1d;
  padding-right: 40px;
}

.btn-luxe-primary:hover i {
  right: 10px;
}

.btn-luxe-primary:focus,
.btn-luxe-primary:active {
  background: #1e2123 !important;
}


/* Main fh5co styles */

#fh5co-header {
  margin-bottom: 0;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/*#mb-header-logo {
  height: 45px;
}*/

.nav-header {
  position: relative;
  float: left;
  width: 100%;
}

#fh5co-header-section {
  background: transparent;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #fh5co-header-section {
    padding: 2.4em 0;
  }
}

.nav-header {
  position: relative;
  float: left;
  width: 100%;
}

#fh5co-logo {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  float: left;
  margin-bottom: 0;
  margin-top: 1.4em;
}

#fh5co-logo a {
  color: white;
  position: relative;
  text-decoration: none;
}

#fh5co-logo a:hover,
#fh5co-logo a:focus {
  color: rgba(255, 255, 255, 0.9) !important;
  text-decoration: none;
}

#fh5co-logo span {
  padding: 0;
  margin: 0;
  font-weight: 100;
}

#fh5co-logo > a > img {
  height: 45px;
  max-width: 200px;
}

@media screen and (max-width: 768px) {
  #fh5co-logo {
    width: 100%;
    float: none;
    margin-top: 0;
  }
}

/* Superfish Override Menu */
.sf-menu {
  margin: 0 !important;
}

.sf-menu {
  float: right;
}

.sf-menu ul {
  box-shadow: none;
  border: transparent;
  min-width: 12em;
  *width: 12em;
}

.sf-menu a {
  color: rgba(255, 255, 255, 0.4);
  padding: 2.4em 1.3em !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-left: none;
  border-top: none;
  border-top: none;
  text-decoration: none;
  zoom: 1;
  font-size: 13px;
  border-bottom: none !important;
}

.sf-menu a:hover,
.sf-menu a:focus,
.sf-menu a.active {
  color: #fff !important;
}

.sf-menu li,
.sf-menu ul li,
.sf-menu ul ul li,
.sf-menu li:hover,
.sf-menu li.sfHover {
  background: transparent;
}

.sf-menu ul li a,
.sf-menu ul ul li a {
  text-transform: none;
  padding: 0.25em 1em !important;
  letter-spacing: 1px;
}

.sf-menu li:hover a,
.sf-menu li.sfHover a,
.sf-menu ul li:hover a,
.sf-menu ul li.sfHover a,
.sf-menu li.active a {
  color: rgba(255, 255, 255, 0.4);
}

.sf-menu ul li:hover,
.sf-menu ul li.sfHover {
  background: transparent;
}

.sf-menu ul li {
  background: transparent;
}

.sf-arrows .sf-with-ul {
  padding-right: 2.5em;
  *padding-right: 1em;
}

.sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -3px;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #ccc;
}

.sf-arrows>li>.sf-with-ul:focus:after,
.sf-arrows>li:hover>.sf-with-ul:after,
.sf-arrows>.sfHover>.sf-with-ul:after {
  border-top-color: #ccc;
}

.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #ccc;
}

.sf-arrows ul li>.sf-with-ul:focus:after,
.sf-arrows ul li:hover>.sf-with-ul:after,
.sf-arrows ul .sfHover>.sf-with-ul:after {
  border-left-color: #ccc;
}

#fh5co-menu-wrap {
  position: relative;
  z-index: 2;
  display: block;
  float: right;
}

#fh5co-primary-menu>li>.sf-with-ul:after {
  border: none !important;
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  float: right;
  margin-right: 3px;
  top: 50%;
  margin-top: -7px;
  content: "\e64b";
  color: rgba(255, 255, 255, 0.4);
}

#fh5co-primary-menu>li>.sf-with-ul:hover:after,
#fh5co-primary-menu>li>.sf-with-ul:focus:after {
  color: #fff !important;
}

#fh5co-primary-menu>li>.sf-with-ul.active:after {
  color: white;
}

#fh5co-primary-menu>li>ul li {
  position: relative;
}

#fh5co-primary-menu>li>ul li>.sf-with-ul:after {
  border: none !important;
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  float: right;
  margin-right: 10px;
  top: 20px;
  font-size: 16px;
  content: "\e649";
  color: rgba(255, 255, 255, 0.5);
}

#fh5co-primary-menu .fh5co-sub-menu {
  padding: 7px;
  background: #ff5722;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

#fh5co-primary-menu .fh5co-sub-menu:after {
  position: absolute;
  top: -8px;
  left: 21px;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #FF5722;
  border-left: 8px solid transparent;
  content: '';
}

#fh5co-primary-menu .fh5co-sub-menu>li>.fh5co-sub-menu {
  left: 103%;
}

#fh5co-primary-menu .fh5co-sub-menu>li>.fh5co-sub-menu:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-right: 0px solid transparent;
  border-bottom: 0px solid #fff;
  border-left: 0px solid transparent;
  content: '';
}

.site-header.has-image #primary-menu .sub-menu {
  border-color: #ebebeb;
  -webkit-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  -ms-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  -o-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
}

.site-header.has-image #primary-menu .sub-menu:before {
  display: none;
}

#fh5co-primary-menu .fh5co-sub-menu a {
  letter-spacing: 0;
  padding: 0 15px;
  font-size: 16px;
  line-height: 34px;
  color: #fff !important;
  text-transform: none;
  background: none;
}

#fh5co-primary-menu .fh5co-sub-menu a:hover {
  color: #f8e69f !important;
  background: none !important;
}

#fh5co-hero {
  margin-bottom: 0;
  background: #fff url(./luxe/images/loader.gif) no-repeat center center;
  margin-bottom: 0 !important;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}

#fh5co-hero .btn {
  font-size: 24px;
}

#fh5co-hero .btn.btn-primary {
  padding: 14px 30px !important;
}

#fh5co-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}

#fh5co-hero .flexslider .slides {
  position: relative;
  overflow: hidden;
}

#fh5co-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  position: relative;
}

#fh5co-hero .flexslider .slides li:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#fh5co-hero .flexslider .flex-control-nav {
  bottom: 60px;
  z-index: 1000;
  right: 20px;
  width: 25px;
  float: right;
}

#fh5co-hero .flexslider .flex-control-nav li {
  display: block !important;
  margin-bottom: 20px;
  float: right;
}

#fh5co-hero .flexslider .flex-control-nav li a {
  display: block !important;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border: 2px solid transparent;
}

#fh5co-hero .flexslider .flex-control-nav li a:active,
#fh5co-hero .flexslider .flex-control-nav li a:focus {
  outline: none;
  border: 2px solid white !important;
}

#fh5co-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  border: 2px solid white;
  background: transparent;
}

#fh5co-hero .flexslider .flex-direction-nav {
  display: none;
}

.slider-text {
  display: table;
  height: auto;
  z-index: 999;
  min-height: 700px;
  width: 100%;
}

.slider-text>.slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  min-height: 700px;
  position: relative;
}

.slider-text>.slider-text-inner h2 {
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  line-height: 60px;
}

@media screen and (max-width: 768px) {
  .slider-text>.slider-text-inner h2 {
    font-size: 24px;
  }
}

.slider-text>.slider-text-inner p {
  margin-bottom: 30px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  padding: 7px 0;
}

.slider-text>.slider-text-inner p>span {
  text-transform: uppercase;
  letter-spacing: 5px;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.slider-text>.slider-text-inner p .btn {
  font-size: 22px !important;
  bordeR: 1px solid transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}

.slider-text>.slider-text-inner p .btn:hover {
  color: #fff !important;
}

div.cs-select span {
  padding: 5px 10px;
}

.cs-skin-border {
  font-size: 16px;
  color: #fff;
}

@media screen and (max-width: 829px) {
  .cs-skin-border {
    max-width: 829px !important;
  }
}

@media screen and (max-width: 30em) {
  .cs-skin-border {
    font-size: 16px;
  }
}

.cs-skin-border>span {
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.cs-skin-border>span::after {
  font-size: 14px !important;
}

.cs-skin-border .cs-selected>span::after {
  font-size: 14px !important;
}

.wrap {
  text-align: center;
  width: 100%;
  margin-bottom: 3em;
}

#availability {
  background: #FF5722;
  width: 100%;
  top: 1em;
  z-index: 99;
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1176px) {
  #availability {
    width: 100%;
  }
}

@media screen and (max-width: 1130px) {
  #availability {
    width: 100%;
  }
}

@media screen and (max-width: 915px) {
  #availability {
    width: 100%;
  }
}

@media screen and (max-width: 915px) {
  #availability {
    width: 100%;
    top: 0;
  }
}

@media screen and (max-width: 769px) {
  #availability {
    width: 100%;
  }
}

#availability>form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@media screen and (max-width: 829px) {
  #availability>form {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
  }
}

#availability .a-col {
  width: 20%;
  float: left;
  position: relative;
  padding: 14px;
}

@media screen and (max-width: 829px) {
  #availability .a-col {
    width: 100% !important;
  }
}

#availability .a-col.alternate {
  width: 30%;
}

@media screen and (max-width: 829px) {
  #availability .a-col.alternate {
    width: 50% !important;
  }
}

@media screen and (max-width: 492px) {
  #availability .a-col.alternate {
    width: 100% !important;
  }
}

#availability .a-col.action {
  padding: 0 !important;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

#availability .a-col.action a {
  align-items: center;
  vertical-align: middle;
  heght: 100%;
  line-height: 20px;
  padding: 14px;
  display: block;
  width: 100%;
  color: #fff;
  text-align: left;
  background: #3c4146;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#availability .a-col.action a::after {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 50%;
  right: 20px;
  margin-top: -10px;
  content: "\e649";
  position: absolute;
  font-size: 16px;
  color: #FF5722;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#availability .a-col.action a:hover {
  text-decoration: none;
  background: #24282b;
  outline: none;
}

#availability .a-col.action a:hover::after {
  right: 10px;
}

#availability .a-col.action a:focus,
#availability .a-col.action a:active {
  outline: none;
  text-decoration: none;
}

#availability .a-col.action a span {
  display: block;
}

#availability .a-col .input-field {
  width: 100%;
}

#availability .a-col .input-field label,
#availability .a-col .input-field input[type="text"] {
  display: inline-block;
}

#availability .a-col .input-field label {
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  float: left;
  margin-top: 7px;
}

#availability .a-col .input-field input[type="text"] {
  float: right;
  margin-right: 0;
  width: 60%;
  height: 42px;
  font-size: 15px;
  line-height: 36px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #fff;
  background: transparent url(./luxe/images/arrow_down_input.png) 98% 90% no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px;
  box-shadow: none;
}

#availability .a-col .input-field input[type="text"]:focus,
#availability .a-col .input-field input[type="text"]:active {
  box-shadow: none;
  outline: none;
}

.fh5co-counters {
  padding: 3em 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.fh5co-counters .counter-wrap {
  border: 1px solid red !important;
}

.fh5co-counters .fh5co-counter {
  font-size: 40px;
  display: block;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Open Sans", Arial, serif;
  width: 100%;
  font-weight: 700;
  margin-bottom: .3em;
}

.fh5co-counters .fh5co-counter-label {
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 2em;
  display: block;
}

#featured-hotel {
  float: left;
  width: 100%;
}

.feature-full-1col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 30px;
}

.feature-full-1col .image,
.feature-full-1col .desc {
  float: left;
  width: 50%;
}

@media screen and (max-width: 768px) {

  .feature-full-1col .image,
  .feature-full-1col .desc {
    flex-wrap: wrap;
    position: relative;
    width: 100%;
  }
}

.feature-full-1col .image {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.feature-full-1col .image .descrip {
  width: 180px;
  position: absolute;
  top: 0;
  right: -180px;
  padding: 10px;
  background: #FF5722;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.feature-full-1col .image .descrip p {
  margin: 0;
  color: #fff;
}

.feature-full-1col .image .descrip small,
.feature-full-1col .image .descrip span {
  display: block;
}

.feature-full-1col .image .descrip small {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .feature-full-1col .image {
    height: 300px;
  }
}

.feature-full-1col .desc {
  padding: 50px;
  background: #fff;
}

@media screen and (max-width: 768px) {
  .feature-full-1col .desc {
    padding: 30px;
  }
}

.feature-full-1col:hover .image .descrip,
.feature-full-1col:focus .image .descrip {
  right: 0;
}

.feature-full-2col {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@media screen and (max-width: 768px) {
  .feature-full-2col {
    flex-wrap: wrap;
    width: 100%;
  }
}

.feature-full-2col .f-hotel {
  float: left;
  width: 50%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}

@media screen and (max-width: 992px) {
  .feature-full-2col .f-hotel {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}

.feature-full-2col .f-hotel .descrip {
  width: 180px;
  position: absolute;
  top: 0;
  right: -180px;
  padding: 10px;
  background: #FF5722;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.feature-full-2col .f-hotel .descrip p {
  margin: 0;
  color: #fff;
}

.feature-full-2col .f-hotel .descrip small,
.feature-full-2col .f-hotel .descrip span {
  display: block;
}

.feature-full-2col .f-hotel .descrip small {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 12px;
}

.feature-full-2col .f-hotel .image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 480px) {
  .feature-full-2col .f-hotel .image {
    position: relative;
    height: 200px;
  }
}

.feature-full-2col .f-hotel .image,
.feature-full-2col .f-hotel .desc {
  width: 50%;
}

@media screen and (max-width: 480px) {

  .feature-full-2col .f-hotel .image,
  .feature-full-2col .f-hotel .desc {
    width: 100%;
  }
}

.feature-full-2col .f-hotel .desc {
  padding: 30px;
  background: #fff;
}

.feature-full-2col .f-hotel:hover .image .descrip,
.feature-full-2col .f-hotel:focus .image .descrip {
  right: 0;
}

#featured-hotel,
#hotel-facilities,
#testimonial,
#fh5co-blog-section,
#fh5co-hotel-section,
#fh5co-services-section,
#fh5co-contact-section,
#footer {
  padding: 7em 0;
}

#hotel-facilities {
  float: left;
  width: 100%;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#tabs {
  float: left;
  width: 100%;
}

#tabs .tabs-nav {
  border-bottom: 1px solid #f0f0f0;
  float: left;
  width: 100%;
}

#tabs .tabs-nav>a {
  float: left;
  width: 16.666667%;
  text-align: center;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ccc;
  padding: 10px 0 40px 0;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#tabs .tabs-nav>a>.icon {
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#tabs .tabs-nav>a>.icon:before {
  font-size: 40px;
}

#tabs .tabs-nav>a>.icon,
#tabs .tabs-nav>a>span {
  display: block;
}

#tabs .tabs-nav>a>span {
  font-weight: 700;
}

#tabs .tabs-nav>a.active {
  color: #FF5722;
  border-bottom: 1px solid #FF5722;
}

#tabs .tabs-nav>a.active .icon {
  color: #FF5722;
}

#tabs .tabs-nav>a:hover {
  text-decoration: none;
  color: #FF5722;
}

#tabs .tabs-nav>a:hover .icon {
  color: #FF5722;
}

#tabs .tabs-nav>a:focus,
#tabs .tabs-nav>a:active {
  outline: none;
  text-decoration: none !important;
}

#tabs .tabs-nav>a:focus>.icon,
#tabs .tabs-nav>a:focus>span,
#tabs .tabs-nav>a:active>.icon,
#tabs .tabs-nav>a:active>span {
  text-decoration: none !important;
}

#tabs .tab-content-container {
  position: relative;
  width: 100%;
  float: left;
  padding-top: 40px;
}

#tabs .tab-content-container .tab-content {
  position: absolute;
  width: 100%;
  float: left;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#tabs .tab-content-container .tab-content.show {
  opacity: 1;
}

#tabs .heading {
  font-size: 40px;
  color: #52565b;
  margin: 0 0 30px 0;
  padding: 0;
}

#tabs .super-heading-sm {
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #bcbcbc;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#tabs .service-hour {
  padding-top: 20px;
}

#tabs .service-hour>span {
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #bcbcbc;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
}

#tabs .service-hour>strong {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #52565b;
}

#fh5co-hotel-section .hotel-content .hotel-grid {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  position: relative;
  display: block;
  overflow: hidden;
}

#fh5co-hotel-section .hotel-content .hotel-grid .price small {
  color: rgba(255, 255, 255, 0.5);
}

#fh5co-hotel-section .hotel-content .hotel-grid>div {
  width: 110px;
  position: absolute;
  top: 0;
  left: -110px;
  padding: 10px;
  background: #ff5722;
  color: #fff;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

#fh5co-hotel-section .hotel-content .hotel-grid>div small {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
}

#fh5co-hotel-section .hotel-content .hotel-grid>div span {
  display: block;
  font-size: 18px;
}

#fh5co-hotel-section .hotel-content .hotel-grid .book-now {
  position: absolute;
  bottom: -47px;
  right: 0;
  color: #fff;
  width: 120px;
  padding: 7px 0;
  background: #3c4146;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

#fh5co-hotel-section .hotel-content .hotel-grid .book-now:hover,
#fh5co-hotel-section .hotel-content .hotel-grid .book-now:focus {
  color: #fff !important;
}

#fh5co-hotel-section .hotel-content .desc {
  border: 1px solid #e6e6e6;
  border-top: 0;
  padding: 20px;
  margin-bottom: 40px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

@media screen and (max-width: 992px) {
  #fh5co-hotel-section .hotel-content .desc {
    margin-bottom: 40px;
  }
}

#fh5co-hotel-section .hotel-content .desc h3 {
  font-size: 20px;
  margin: 0 0 20px 0;
}

#fh5co-hotel-section .hotel-content .desc h3 a {
  color: rgba(0, 0, 0, 0.7);
}

#fh5co-hotel-section .hotel-content:hover .hotel-grid>div,
#fh5co-hotel-section .hotel-content:focus .hotel-grid>div {
  left: 0;
}

#fh5co-hotel-section .hotel-content:hover .hotel-grid .book-now,
#fh5co-hotel-section .hotel-content:focus .hotel-grid .book-now {
  bottom: 0;
}

#fh5co-hotel-section .hotel-content:hover .desc,
#fh5co-hotel-section .hotel-content:focus .desc {
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.06);
  -ms-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.06);
  -o-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.06);
}

#testimonial {
  background: #FF5722;
  float: left;
  width: 100%;
  color: #52565b;
}

#testimonial .section-title h2 {
  color: #f8e69f;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
}

#testimonial blockquote {
  border-left: none;
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

#testimonial blockquote:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -12px;
  left: 10%;
}

#testimonial .author {
  margin-bottom: 0;
  margin-left: 10px;
  color: #f8e69f;
}

#fh5co-blog-section {
  width: 100%;
  float: left;
}

#fh5co-blog-section .blog-grid {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  position: relative;
}

#fh5co-blog-section .blog-grid .date {
  width: 80px;
  padding: 10px 20px;
  background: #fff;
}

#fh5co-blog-section .blog-grid .date span,
#fh5co-blog-section .blog-grid .date small {
  display: block;
  text-transform: uppercase;
}

#fh5co-blog-section .blog-grid .date small {
  font-size: 12px;
  letter-spacing: 2px;
}

#fh5co-blog-section .desc {
  border: 1px solid #e6e6e6;
  border-top: 0;
  padding: 20px;
  margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
  #fh5co-blog-section .desc {
    margin-bottom: 40px;
  }
}

#fh5co-blog-section .desc h3 {
  font-size: 20px;
  margin: 0;
}

#fh5co-blog-section .desc h3 a {
  color: rgba(0, 0, 0, 0.7);
}

.services {
  position: relative;
  margin-bottom: 60px;
}

.services span {
  position: absolute;
  top: 15px;
  left: 0;
}

.services span>i {
  font-size: 50px;
  color: #FF5722;
  padding: 15px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.services .desc {
  padding-left: 100px;
}

.contact-info {
  margin: 0;
  padding: 0;
}

.contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
}

.contact-info li i {
  position: absolute;
  top: .3em;
  left: 0;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}

.contact-info li a {
  font-weight: 400 !important;
  color: rgba(0, 0, 0, 0.3);
}

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 400;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.form-control:focus,
.form-control:active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

input[type="text"] {
  height: 50px;
}

.form-group {
  margin-bottom: 30px;
}

#map {
  width: 100%;
  height: 700px;
  position: relative;
}

@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

#footer {
  float: left;
  width: 100%;
  font-size: 16px;
}

#footer a {
  color: #FF5722;
}

#footer a:hover {
  text-decoration: underline !important;
  color: #FF5722;
}

#footer p {
  font-size: 16px;
}

#footer h3 {
  font-size: 15px;
}

#footer ul.link {
  padding: 0;
  margin: 0 0 30px 0;
}

#footer ul.link li {
  font-size: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

#footer .copyright {
  margin-top: 0;
}

#footer #form-subscribe .form-field {
  position: relative;
}

#footer #form-subscribe input[type="email"] {
  background: #fff;
  padding: 5px 70px 5px 15px;
  border: none;
  height: 45px;
  line-height: 30px;
  width: 100%;
}

#footer #form-subscribe input[type="submit"] {
  background: #3c4146;
  border: none;
  color: #fff;
  height: 45px;
  padding: 5px 15px;
  position: absolute;
  right: 0;
  top: 0;
}

#footer .social-icons {
  padding: 0;
  margin: 0;
}

#footer .social-icons li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#footer .social-icons li a {
  font-size: 30px;
  color: #b3b3b3 !important;
}

#footer .social-icons li a:hover,
#footer .social-icons li a:focus,
#footer .social-icons li a:active {
  color: #FF5722 !important;
  outline: none;
  text-decoration: none !important;
}

#footer .social-icons li a:hover i,
#footer .social-icons li a:focus i,
#footer .social-icons li a:active i {
  text-decoration: none;
}

.fh5co-bg-color {
  background: #e6e6e6;
}

.section-title {
  margin-bottom: 5em;
  float: left;
  width: 100%;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  .section-title {
    padding-top: 4em;
  }
}

.section-title h2 {
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
}

.googleplus-color {
  color: #dc4e41 !important;
}

.facebook-color {
  color: #3b5998 !important;
}

.twitter-color {
  color: #55acee !important;
}

.fh5co-table,
.fh5co-table-cell,
.fh5co-parallax {
  height: 600px;
}

.fh5co-parallax {
  background-color: #555;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.fh5co-parallax .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
  .fh5co-parallax {
    height: inherit;
    padding: 4em 0;
  }
}

.fh5co-parallax .fh5co-intro h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .fh5co-parallax .fh5co-intro h1 {
    font-size: 30px;
  }
}

.fh5co-parallax .fh5co-intro p {
  color: #fff;
}

.fh5co-parallax .fh5co-intro p a {
  color: #FF5722;
  border-bottom: 2px solid rgba(255, 87, 34, 0.2);
}

.fh5co-parallax .fh5co-intro p a:hover {
  color: #FF5722;
}

.fh5co-parallax .fh5co-intro.box-area {
  padding: 40px;
  background: #222831;
}

.fh5co-table {
  display: table;
}

.fh5co-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.js .animate-box {
  opacity: 0;
}

#fh5co-wrapper {
  overflow-x: hidden;
  position: relative;
}

.fh5co-offcanvas {
  overflow: hidden;
}

.fh5co-offcanvas #fh5co-wrapper {
  overflow: hidden !important;
}

#fh5co-page {
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.fh5co-offcanvas #fh5co-page {
  -moz-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  transform: translateX(-240px);
}

@media screen and (max-width: 768px) {
  #fh5co-menu-wrap {
    display: none;
  }
}

#offcanvas-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: #222;
  right: -240px;
  width: 240px;
  padding: 20px;
  overflow-y: scroll !important;
}

#offcanvas-menu ul {
  padding: 0;
  margin: 0;
}

#offcanvas-menu ul li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}

#offcanvas-menu ul li a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.4);
}

#offcanvas-menu ul li a:hover {
  color: #FF5722;
}

#offcanvas-menu ul li>.fh5co-sub-menu {
  margin-top: 9px;
  padding-left: 20px;
}

#offcanvas-menu ul li.active>a {
  color: #FF5722;
}

#offcanvas-menu ul .fh5co-sub-menu {
  display: block !important;
}

.cs-active .cs-options {
  -webkit-box-shadow: 0px 17px 56px -25px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 17px 56px -25px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 17px 56px -25px rgba(0, 0, 0, 0.75);
}

.fh5co-nav-toggle {
  margin-top: -8px !important;
  cursor: pointer;
  text-decoration: none;
}

.fh5co-nav-toggle.active i::before,
.fh5co-nav-toggle.active i::after {
  background: #000;
}

.fh5co-nav-toggle.dark.active i::before,
.fh5co-nav-toggle.dark.active i::after {
  background: #000;
}

.fh5co-nav-toggle:hover,
.fh5co-nav-toggle:focus,
.fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}

.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 2px;
  color: #000;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #000;
  transition: all .2s ease-out;
}

.fh5co-nav-toggle i::before,
.fh5co-nav-toggle i::after {
  content: '';
  width: 30px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle.dark i {
  position: relative;
  color: #000;
  background: #000;
  transition: all .2s ease-out;
}

.fh5co-nav-toggle.dark i::before,
.fh5co-nav-toggle.dark i::after {
  background: #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9999;
  display: block;
  margin: 0 auto;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
    top: 0px;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-top-padded-lg {
  padding-top: 7em;
}

@media screen and (max-width: 768px) {
  .row-top-padded-lg {
    padding-top: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-top-padded-md {
  padding-top: 4em;
}

@media screen and (max-width: 768px) {
  .row-top-padded-md {
    padding-top: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.row-top-padded-sm {
  padding-top: 2em;
}

@media screen and (max-width: 768px) {
  .row-top-padded-sm {
    padding-top: 2em;
  }
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.lead {
  line-height: 1.8;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(./luxe/images/svg/hourglass.svg) center no-repeat #222222;
}

/*# sourceMappingURL=style.css.map */